/*-- scss:defaults --*/
@import url(http://fonts.googleapis.com/css?family=Lato|Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400italic,700italic,400,700);
$lato: 'Lato';   
$source: 'Source Code Pro';   


$body-color: black !default;
$font-family-sans-serif: $lato;
$font-family-monospace: $source;	

// /*-- scss:rules --*/
// h1, h2, h3, h4, h5, h6 {
//   color: green;
// }