<!-- preamble start -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$tinytable_TABLE_ID</title>
    $tinytable_TABULATOR_CDN
  </head>
  <body>
<!-- preamble end -->

    <div class="container">
      $tinytable_TABULATOR_SEARCH
      <div id="$tinytable_TABLE_ID" style="margin-left: auto; margin-right: auto;"></div>
    </div>

    <!-- Luxon for date handling -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3/build/global/luxon.min.js"></script>
    
    <!-- Tabulator JS -->
    <script src="https://cdn.jsdelivr.net/npm/tabulator-tables@6.3/dist/js/tabulator.min.js"></script>
    <script>
      const { DateTime } = luxon;

      const table_$tinytable_TABLE_ID = new Tabulator("#$tinytable_TABLE_ID", {
        dependencies: { DateTime },
        data: $tinytable_TABULATOR_DATA,
        columns: $tinytable_TABULATOR_COLUMNS,
        $tinytable_TABULATOR_OPTIONS
      });

      $tinytable_TABULATOR_SEARCH_LISTENER
    </script>

<!-- postamble start -->
  </body>
</html>
<!-- postamble end -->
<!-- hack to avoid NA insertion in last line -->
